APP_PORT=8080

OLLAMA_URL=http://ollama:11434
OLLAMA_MODEL=gemma3:12b

POSTGRES_PORT=5433
DB_HOST=db
DB_PORT=5432
POSTGRES_DB=mealplanner
POSTGRES_USER=mealplanner
POSTGRES_PASSWORD=change_me

PGADMIN_PORT=5050
PGADMIN_CONTAINER_NAME=pg-admin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me
