<link rel="stylesheet" href="/public/styles/main.css" />
<nav>
  <div class="container">
    <span><i class="fa-solid fa-sun"></i></span>

    <ul>
      <li>
        <a href="/"><i class="fa-solid fa-house"></i> HOME</a>
      </li>
      <li>
        <a href="/dashboard"
          ><i class="fa-solid fa-address-book"></i> PROFILE</a
        >
      </li>
      <li>
        <a href="/dashboard"
          ><i class="fa-solid fa-diagram-project"></i> ADD PROJECT</a
        >
      </li>
    </ul>
  </div>
</nav>
